p {
    color: rgb(255, 255, 255);
    background-color: rgb(0 138 239);
    ;
    margin: 0;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 10px;
    border: white solid;
}

ul {
    list-style-type: none;
    list-style-position: outside;
    margin-left: 0;
    padding-left: 2rem;
    text-indent: -1.65rem;
}

input {
    margin-right: .65rem;
}

.baredit {
    background-color: rgb(0, 127, 201);
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    text-indent: 0;
}

nav ul li {
    background-color: rgb(0, 127, 201);
    display: inline;

}

.nav-link {
    color: white;
    text-shadow: 2px 2px 5px black;
    padding: 0.2em 0.2em;

}

.nav-link:focus {
    color: white;
    text-shadow: 2px 2px 5px black;

}

.nav-link:hover {
    color: white;
    text-shadow: 2px 2px 5px black;
}

a {
    color: rgb(0, 140, 255);
    text-decoration: none;
    transition-duration: 0.2s;
}

a:hover {
    color: aqua
}

ul {
    background-color: rgb(43, 43, 43);
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

body {
    margin: auto;
    padding: 10px;
    background-color: rgb(43, 43, 43);
    width: 100%;
    font-family: Outfit, sans-serif;
    color: white;
}

#btn-back-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
}

.navBar {
    display: block;
    padding: 5px;
    background-color: rgb(0, 127, 201);
    color: white;
    border: white solid;
    --bs-navbar-toggler-transition: 0.2s;
}

.month {
    background-color: white;
    color: rgb(0, 127, 201);
    width: 70%;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 30px;
    border: rgb(0, 127, 201) solid;
    box-shadow: 0px 2px 11px 1px black;
    font-weight: bold;
    text-shadow: 2px 2px 0px #00d0ff85;
}

#reload {
    color: rgb(0 138 239);
}


.navbar-toggler {
    margin: 5px 0px;
    color: white;
    background-color: rgb(0 138 239);
    transition-duration: 0.2;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler:hover {
    box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width);
}

label {
    display: inline;
    transition-duration: 0.1s;
}

.content {
    overflow: hidden;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.btn-circle.btn-xl {
    width: 2em;
    height: 2em;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
    border: .2em solid white;
}

.form-check-input {
    transition-duration: 0.1s;
}

.form-check-input:focus {
    border-color: none;
    outline: 0;
    box-shadow: none;
}

.form-check-input:hover {
    transition-duration: 0.1s;
    box-shadow: 0px 0px 4px 4px #00c5ff;
}

img,
svg {
    vertical-align: baseline;
}

.title {
    text-shadow: 4px 4px 4px black;
}

.bi-trophy-fill {
    color: rgb(255, 217, 0);
}

.currentDate {
    box-shadow: inset 0px 0px 4px 4px #00c5ff;
    color: rgb(0 138 239);
}

#reset {
    color: yellow;
}



h2 {
    font-size: medium;
}

section p {
    background-color: rgb(43, 43, 43);
    border: none;
}

section {
    margin-bottom: 2em;
}

.navButton {
    border: white solid 0.2em;
    margin: 0.2em 0.2em;
}

.navButton:hover {
    border: aqua solid 0.2em;
}

.reset:hover {
    border-color: yellow;
}

.btn-primary {
    background-color: #008aef;
}

.menuButton {
    border: white solid 0.15em;
}

.menuButton:hover {
    box-shadow: none;
    border-color: aqua;
    background-color: #0b5ed7;
}

.menuButton:active {
    box-shadow: none;
    background-color: #0a58ca;
    border-color: #0a53be;
    transition-duration: 0.2s;
}